:root {
    /** COLORS**/
    --lightRed: hsl(356, 100%, 66%);
    --veryLightRed: hsl(355, 100%, 74%);
    --veryDarkBlue: hsl(208, 49%, 24%);

    --white: hsl(0, 0%, 100%);
    --grayishBlue: hsl(240, 2%, 79%);
    --veryDarkGrayishBlue: hsl(207, 13%, 34%);
    --veryDarkBlackBlue: hsl(240, 10%, 16%);

    /* Gradient */
    --gVeryLightRed: hsl(13, 100%, 72%);
    --gLightRed: hsl(353, 100%, 62%);
    --gVeryDarkGrayBlue: hsl(237, 17%, 21%);
    --gVeryDarkDesaturatedBlue: hsl(237, 23%, 32%);

    /* Fonts */
    --fontPrimary: 'Overpass';
    --fontSecondary: 'Ubuntu';

    --separacion: 5rem;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before,*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fontSecondary);
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--white);
    width: 100%;
    height: 100vh;

}

/** GLOBALES **/
.contenedor {
    /* max-width: 140rem; */
    width: 80%;
    margin: 0 auto;
}

h1,h2,h3 {
    font-weight: 400;
    font-family: var(--fontPrimary);
    margin: calc(var(--separacion) / 2) 0;
}

h1 {font-size: 4.4rem;}
h2 {font-size: 3.6rem;}
h3 {font-size: 2.8rem;}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/** UTILIDADES **/
.text-center {
    text-align: center;
}

/* Header */
.encabezado {
    background-image: linear-gradient(to right, var(--gVeryLightRed), var(--gLightRed));
    min-height: 40rem;
    border-bottom-left-radius: 6rem;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.encabezado a {
    text-decoration: none;
    color: var(--white);
}

.header {
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 4rem 0;
    /* border: 1px solid black; */
    /* position: relative;
    z-index: 1; */
}

.izq {
    /* border: 1px solid blue; */
    display: flex;
    place-items: center;
    gap: 5rem;
}

.navegacion {
    display: flex;
    gap: 4rem;
}

.der {
    /* border: 1px solid green; */
    display: flex;
    gap: 4rem;
}

.der .button {
    padding: 0.5rem 3rem;
}

/* Portada */
/* .portada {
    position: relative;
    z-index: 1;
} */
.portada-title {
    font-size: 5rem;
    color: var(--white);
    margin-bottom: 0;
}

.portada-text {
    color: var(--white);
    margin-top: 0;
    margin-bottom: 4rem;
}

.portada-buttons {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.button {
    border-radius: 2rem;
    font-weight: bold;
}

.portada-buttons .button {
    border: 1px solid var(--white);
    padding: 0.5rem 1.5rem;
}

.button:hover {
    /* border: 1px solid var(--white); */
    background-color: var(--white);
    color: var(--lightRed);
}

.bg-portada {
    position: fixed;
    z-index: -9999;
    top: -95rem;
    right: -93rem;
    /* background-size: cover; */
    max-width: 230rem;
}

/* Cuerpo */
.content-page {
    position: relative;
    z-index: 0;
    background-color: var(--white);
    overflow: hidden;
    
}

.cp-title {
    margin-top: 0;
    padding-top: 8rem;
    color: var(--veryDarkBlue);
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 5rem;
}

.cp-body {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5rem;
}

.cbt-title {
    color: var(--veryDarkBlue);
    font-weight: bold;
    font-size: 2.4rem;
}

.cbt-text {
    color: var(--veryDarkGrayishBlue);
    font-size: 1.3rem;
}

.cp-body-bg {
    max-width: 56rem;
    position: absolute;
    right: -15rem;
    top: 6rem;
}

.main-contenido {margin-bottom: 8rem;}

/* Banner-One */
.banner-one {
    background-image: linear-gradient(to right, var(--veryDarkBlackBlue), var(--gVeryDarkDesaturatedBlue));
    border-bottom-left-radius: 8rem;
    border-top-right-radius: 8rem;
    height: 30rem;
    margin-top: 15rem;
    margin-bottom: 15rem;
    position: relative;
    overflow: hidden;
}

.bo-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "img text";
    height: 30rem;
    position: relative;
}
 

.bo-content-title {
    color: var(--white);
    font-size: 3rem;
    font-weight: bold;
}

.bo-content-text {
    color: var(--white);
    font-size: 1.3rem;
}

.img-phones {
    max-width: 40rem;
    position: absolute;
    top: 67rem;
    left: 10rem;
    z-index: 2;
}

.boc-der {
    margin-top: 3rem;
    grid-area: text;
}

.circles-bg {
    max-width: 70rem;
    position: absolute;
    top: -35rem;
    left: -15rem;
}